--CREATE DATABASE QUANLY_HS_GV

CREATE TABLE HocSinh(
	ID_Hs CHAR(10) NOT NULL,
	HoTen NVARCHAR(50) NOT NULL,
	Quequan nvarchar(100),
	GT CHAR(3),
	NgaySinh datetime,
	ID_Lop CHAR(10),
	ID_MonHoc CHAR(10)
)

CREATE TABLE GiaoVien(
	ID_Gv CHAR(10) NOT NULL,
	HoTen NVARCHAR(50) NOT NULL,
	Quequan nvarchar(100),
	GT CHAR(3),
	CMND int,
	NgaySinh datetime,
	ChucVu NVARCHAR(50),
	ID_MonHoc CHAR(10),
	ID_Lop CHAR(10)
)

CREATE TABLE MonHoc(
	ID_MonHoc CHAR(10) NOT NULL,
	Ten_MonHoc NVARCHAR(50)
)

CREATE TABLE LopHoc(
	ID_Lop CHAR(10) NOT NULL,
	Ten_Lop NVARCHAR(30),
	ID_Gv char(10)--giao vien chu nhiem
)

alter table GiaoVien add constraint GV_ID_PK primary key(ID_Gv)
alter table HocSinh add constraint HS_ID_PK primary key(ID_Hs)
alter table LopHoc add constraint LH_ID_PK primary key(ID_Lop)
alter table MonHoc add constraint MH_ID_PK primary key(ID_MonHoc)

insert into HocSinh(ID_Hs,HoTen,GT,NgaySinh,Quequan,ID_Lop,ID_MonHoc)values('HS001',N'Lê Công Tuấn Anh','Nam','1994-01-01',N'Vĩnh Phúc','LOP01','MH01')
insert into HocSinh(ID_Hs,HoTen,GT,NgaySinh,Quequan,ID_Lop,ID_MonHoc)values('HS002',N'Nguyễn Chí Công','Nam','1994-01-01',N'Hà Giang','LOP01','MH01')
insert into HocSinh(ID_Hs,HoTen,GT,NgaySinh,Quequan,ID_Lop,ID_MonHoc)values('HS003',N'Nguyễn Đức Cảnh','Nam','1994-01-01',N'Nam Định','LOP01','MH01')

insert into GiaoVien(ID_Gv,HoTen,GT,NgaySinh,ChucVu,ID_MonHoc,ID_Lop)values('GV01',N'Đào Thanh Tĩnh','Nam',null,null,'MH01','LOP01')
insert into GiaoVien(ID_Gv,HoTen,GT,NgaySinh,ChucVu,ID_MonHoc,ID_Lop)values('GV02',N'Ngô Thành Long','Nam',null,null,'MH01','LOP02')
insert into GiaoVien(ID_Gv,HoTen,GT,NgaySinh,ChucVu,ID_MonHoc,ID_Lop)values('GV04',N'Phan Nguyên Hải','Nam',null,null,'MH03','LOP04')

insert into MonHoc(ID_MonHoc,Ten_MonHoc)values('MH01','Toán')
insert into MonHoc(ID_MonHoc,Ten_MonHoc)values('MH02','Văn')
insert into MonHoc(ID_MonHoc,Ten_MonHoc)values('MH03','Hóa')

insert into LopHoc(ID_Lop,Ten_Lop,ID_Gv)values('LOP01','10A1','GV01')
insert into LopHoc(ID_Lop,Ten_Lop,ID_Gv)values('LOP02','11A1','GV03')
insert into LopHoc(ID_Lop,Ten_Lop,ID_Gv)values('LOP03','12A1','GV04')

alter table HocSinh add constraint fk_hocsinh_lophoc foreign key (ID_Lop) references LopHoc(ID_Lop)
alter table GiaoVien add constraint fk_giaovien_monhoc foreign key(ID_MonHoc) references MonHoc(ID_MonHoc)
alter table HocSinh add constraint fk_hocsinh_monhoc foreign key(ID_MonHoc) references MonHoc(ID_MonHoc)
alter table GiaoVien add constraint fk_giaovien_lophoc foreign key(ID_Lop) references LopHoc(ID_Lop)
-------------Phần tạo proc-----------------------

create proc LoadGV
as
begin
	select *from GiaoVien
end
--------------------
create proc LoadHS
as
begin
	select *from HocSinh
end
-----------------------
create proc [dbo].[Add_HS](@Id_hs char(10),@Hoten nvarchar(50),@quequan nvarchar(100),@Gt char(3),
				@Ngaysinh datetime,@Id_lop char(10),@Id_monhoc char(10))
as
begin
	insert into HocSinh(ID_Hs,HoTen,Quequan,GT,NgaySinh,ID_Lop,ID_MonHoc)
	values(@Id_hs,@Hoten,@quequan,@Gt,@Ngaysinh,@Id_lop,@Id_monhoc)
end
----------------------------------
ALTER proc [dbo].[Edit_HS](@Id_hs char(10),@Hoten nvarchar(50),@quequan nvarchar(100),@Gt char(3),
				@Ngaysinh datetime,@Id_lop char(10),@Id_monhoc char(10),@kq int output)
as
begin
if(@Id_hs='') set @kq=0
else if(@Id_hs not in (select ID_Hs from HocSinh)) set @kq=1
else
begin
	update HocSinh
	set
	HoTen=@Hoten,Quequan=@Quequan,GT=@Gt,NgaySinh=@Ngaysinh,ID_MonHoc=@Id_monhoc,ID_Lop=@Id_lop
	where ID_Hs=@Id_hs
	set @kq=2
end
end
----------------------------------
create proc Delete_HS(@ID_Hs char(10))
as
begin
	delete from HocSinh
		where ID_Hs=@ID_Hs	
end			
-------------------------------------
create proc Add_GV(@Id_gv char(10),@Hoten nvarchar(50),@Gt Char(3),@Ngaysinh datetime,
					@Id_monhoc char(10),@Id_lop char(10))
as
begin
	insert into GiaoVien(ID_Gv,HoTen,GT,NgaySinh,ID_MonHoc,ID_Lop)
	values(@ID_Gv,@Hoten,@Gt,@Ngaysinh,@Id_monhoc,@Id_lop)
end
----------------------------------------
create proc [dbo].[Edit_GV](@Id_gv char(10),@Hoten nvarchar(50),@Quequan nvarchar(100),@Gt Char(3)
,@CMND int,@Ngaysinh datetime,@Chucvu nvarchar(50),@Id_monhoc char(10),@Id_lop char(10),@kq int output)
as
begin
if(@Id_gv='') set @kq=0
else if(@Id_gv not in (select ID_Gv from GiaoVien)) set @kq=1
else
begin
	update GiaoVien
	set
	HoTen=@Hoten,Quequan=@Quequan,GT=@Gt,CMND=@CMND,NgaySinh=@Ngaysinh,ChucVu=@Chucvu,
	ID_MonHoc=@Id_monhoc,ID_Lop=@Id_lop
	where ID_Gv=@Id_gv
	set @kq=2
end
end
------------------------------------------------
create proc Delete_GV(@Id_Gv char(10))
as
begin
	delete from GiaoVien
		where ID_Gv=@Id_Gv	
end	
------------------------------------------------
create proc timkiengiaovien(@tim nvarchar(max))
as
begin
	select *from GiaoVien
	where HoTen like '%' + @tim + '%' or ID_Gv like '%' + @tim + '%'
end
-------------------------------------------------
create proc timkiemhocsinh(@tim nvarchar(max))
as
begin
	select *from HocSinh
	where HoTen like '%'+@tim+ '%' or ID_Hs like '%' +@tim+ '%'
end